@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<div class="container">
    <div class="row">
        <p>About me content...</p>
    </div>
</div>

<div class="container">
    <div class="row">
        <p>Patrick Warren</p>
    </div>
    <div class="row">
        <p>Phone: 850-294-7150</p>
    </div>
    <div class="row">
        <p>Email: patrick.warren1988@gmail.com</p>
    </div>
    <div class="row">
        <a href="https://www.linkedin.com/in/patrick-warren-68b77a33" target="_blank">LinkedIn</a>
    </div>
    <div class="row">
        <a href="https://github.com/pwarren88" target="_blank">GitHub</a>
    </div>
 </div>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>